<script>
    $(function() {
        $( "#accordion" ).accordion();
    });
    $(function() {
        $( "#tabs" ).tabs();
    });
    $(function() {
        $( "input:submit, a, button", ".demo" ).button();
        $( "a", ".demo" ).click(function() { return false; });
    });
</script>
<div id="tabs">
  <ul>
    <li>
      <div id="table">
        <%= link_to "home", root_path %>
      </div>

    </li>
    <li>
      <div id="tabs-2">
        <%= link_to "Profile", profiles_path(current_user.profile) %>
      </div>
    </li>
    <li>
      <div id="tabs-3">
        <%= link_to "Posts", posts_path %>
      </div>
    </li>
  </ul>
</div>